body 
{ 
    background-color: black;
    text-align: center;
}
div {
    width: 50%;
    margin-left: 30%;
    
    margin-right: 30%;
    position: relative;
}
h1
{
    font-size: 4vw;
    text-transform: uppercase;
    color: white;

}
p {
    color: white;
}
img {
    width : 100%;
    border: 5px solid white;
}
